.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.colorSection {
  margin: 20px 0;
}

.colorHeader {
  display: flex;
  align-items: baseline;
}

.colorList {
  display: flex;
}

.colorItem {
  height: 180px;
  margin-right: 20px;
  width: 90px;
  border-radius: 7px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.25rem;
  font-weight: 400;
}
